<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5>Universitas Anda</h5>
        <p>Membangun generasi pemimpin masa depan.</p>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Link Penting</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-decoration-none text-light">Beranda</a></li>
          <li><a href="/about" class="text-decoration-none text-light">Tentang</a></li>
          <li><a href="/programs" class="text-decoration-none text-light">Program</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Kontak</h5>
        <p>Email: info@universitas.ac.id</p>
        <p>Telepon: +62-XXX-XXXXX</p>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="text-center">
      <p>&copy; 2024 Universitas Anda. Semua hak cipta dilindungi.</p>
    </div>
  </div>
</footer>